/Config
/app/Config/database.*
/app/Config/core.php
/app/lib
/app/vendors
/app/plugins
/app/tmp/*
/app/webroot/js/modules
/lib
/tmp
/plugins
/vendorsd
/build
/dist
.DS_Store
/tags
empty
/data/*
null
*.min.js
all.js
all.min.js
/cron
/node_modules

