/Config
/app/tmp/cache/models
/app/tmp/cache/persistent
/app/Config/database.*
/app/Config/core.php
/app/lib
/app/vendors
/app/plugins
/app/tmp/*
/lib
/tmp
/plugins
/vendors
/build
/dist
.DS_Store
/tags
empty
/data/*
null
*.min.js
all.js
all.min.js
