/Config
/app/Config/database.*
/app/Config/core.php
/app/Config/myConfig.php
/app/lib
/app/vendors
/app/plugins
/app/tmp/*
#/app/View/Elements/alert.ctp
/app/webroot/js/minify
/app/webroot/js/debug
compiler.jar
/lib
/tmp
/plugins
/vendorsd
/build
/dist
.DS_Store
/tags
empty
/data/*
null
combine.js
/cron
/node_modules
/.vscode
/.htaccess
phpinfo.php
test.php
/.htaccess

